.parent{
    width: 800px;
    height: 800px;
    background-color: red;
    border: 5px solid red;

}
.child{
   width: 60px;
   height: 60px;
   background-color: green;
   border: 5px solid green;
   position: relative;
   top: 50%;
   left: 50%;
}