body {
    font-family: Arial, sans-serif;
    background-color: #c3b271;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #262424;
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px blue ;
    width: 300px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #171616;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #014996;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    background-color: #282626;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li button {
    background-color: #fc1a31;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 10px;
    margin: 10px;
    width: 60px;
}

li button:hover {
    background-color: #970211;
}