body{
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33rem;
  }
  .box{
    background-color:black;
    color: white;
    border-radius: 15px;
    padding: 15px;
    width: 300px;
    height:25rem ;
    text-align: center;
    box-shadow: 0 0 20px  blue;
  }
  #taskbox {
    border: 2px solid red;
    padding: .75rem;
  }
  .task{
    border-radius: .5rem;
    border: 2px solid white;
  }
  button{
    background-color: blue;
    color: white;
    border-radius: 5px;
  }
  button:hover {
    background-color: navy;
  }
  li{
    border: 2px solid red;
    list-style: none;
    padding: 5px 10px;
    margin: 10px;
  }
  li button{
    background-color: red;
    color: white;
    border-radius: 5px;
  }
  li button:hover {
    background-color: crimson;
  }